
<div class="contenido">
  <%= link_to "Nueva Publicación", new_publication_path, type:"button", class:"btn btn-outline-secondary" %> <br/><br/>


  <h1>Publicaciones</h1>


  <div id="publications" >
    <% @publications.each do |publication| %>
    <div class="publication">
      <%= render publication %>
      <%= link_to "Ir a la publicación", publication, type:"button", class:"btn btn-outline-secondary" %>
    </div>
    <% end %> 
</div>

