<%= link_to "New publication", new_publication_path, type:"button", class:"btn btn-primary" %> <br/><br/>


<h1>Publicaciones</h1>


<div id="publications" >
  <% @publications.each do |publication| %>
    <%= render publication %><br/>
    <%= link_to "Show this publication", publication, type:"button", class:"btn btn-primary" %><br/>
  <% end %> 

